#title-logo {
  height: 90px;
  padding-left: 50px;
}

#menu-nav {
  margin-right: 40px;
}

#saeindia-2 {
  display: none;
}

@media (max-width: 769px) {
  #home {
    margin-top: 90px;
  }
}

@media (max-width: 768px) {
  #menu-nav {
    margin: 0;
    padding-top: 130px;
  }

  #bs-example-navbar-collapse-1 {
    padding-left: 0;
    overflow-x: hidden;
  }
}

@media (max-width: 1196px) {
  #menu-nav {
    margin-top: -90px;
  }
}

@media (max-width: 1080px) {
  #menu-nav {
    margin-right: 10px;
  }
}

@media (max-width: 1123px) {
  #title-logo {
    padding-left: 15px;
  }
}

@media (max-width: 1030px) {
  #bs-example-navbar-collapse-1 {
    padding-left: 60px;
  }
}

@media (max-width: 991px) {
  #saeindia-1 {
    display: none;
  }

  #saeindia-2 {
    display: block;
  }

  #saegec {
    padding-left: 0;
  }

  #saeinternational {
    padding-left: 0;
  }
}
