.title-img{
    position: relative;
    bottom: 15px;
    right : 25px;
    height: 100px;
    width: 140px;
}
.notif-p{
    font-size: 14px;
    line-height: 2;
    color: #666;
}

.notif-btn{
    background-color: #28ABE3; 
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.nav {
    position: relative;
    left: 100px;
    bottom: 30px;
    padding-top: 45px;
    padding-bottom: 5px;
}


.about-SAE{
    padding-left: 40px;
    font-size: 15px;
    line-height: 2;
    text-align: justify;
}

.about-SAEindia{
    padding-top: 30px;
    font-size: 15px;
    line-height: 2;
    text-align: justify;
}

.fa-college{
    position: relative;
    background-image: url("../images/logos/COLLEGE-01.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center;
}

.fa-facility{
    position: relative;
    background-image: url("../images/logos/FACILITY-01.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center;
}
.fa-baja{
    position: relative;
    background-image: url("../images/logos/BAJA-01.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center;
}
.fa-ebaja{
    position: relative;
    background-image: url("../images/logos/EBAJA-01.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center;
}

.fa-tdc{
    position: relative;
    background-image: url("../images/logos/TDC-01.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center;
}
.fa-bdc{
    position: relative;
    background-image: url("../images/logos/BDC-01.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center;
}
.fa-adc{
    position: relative;
    background-image: url("../images/logos/ADC-01.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center;
}
.fa-ewtdc{
    position: relative;
    background-image: url("../images/logos/ETWDC-01.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center;
}
.fa-supra{
    position: relative;
    background-image: url("../images/logos/SUPRA-01.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center;
}
.fa-convention{
    position: relative;
    background-image: url("../images/logos/CONVENTION-01.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center;
}
.logos{
    width: 25px;
    height: 25px;
}

.modal-heading{
    text-align: center;
    padding-bottom: 80px;
}

.modal-img1{
    padding-top: 10px;
    padding-right: 50px;
    width: 40vw;
    height: 40vh;
}
.modal-img2{
    padding-top: 10px;
    padding-right: 50px;
    width: 30vw;
    height: 30vh;
}



.gallery-title,.team-title{
    padding-bottom: 50px;
}

.comp-logos{
    height: 70px;
    width:  70px;
}

.team-img{
    height: 10vh;
    width: 10vw;
}

.gallery-btn{
    position: relative;
    top: 50px;
    left: 35vw;
}

.gallery-btn:hover{
    border:none;
    
    color: black;
}


.footer-ul{
    padding-left: 30vw;
}
.button {
    background-color: #28ABE3; 
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button2 {
    background-color: Transparent;
    color: #666; 
    border: 1px solid #666;
}
  
.button2:hover {
    border:1px solid #28ABE3;
    background-color: #28ABE3;
    color: white;
}
.button3 {
    background-color :rgba(0, 0, 0, 0.5);
    color: 1px solid; 
    border: 1px solid rgba(0, 0, 0, 0.5);
}
  
.button3:hover {
    border:1px solid #28ABE3;
    background-color: #28ABE3;
    color: white;
}
.social{
    padding-left: 4px;
}


.achieve-img{
    height: 250px;
}
.desc{
    padding-top: 40px;
}
.achieve-p{
    color: #999;
}
.achieve-desc{
    color: #666;
}